import pandas as pd

import pandas as pd

In [1]:
import pandas as pd

In [2]:
df=pd.read_excel("DTR Master Information 2025-09-22 07-00_21992_batch1.xlsx")

In [3]:
df2=pd.read_excel('DTR Master Information.xlsx')

In [6]:
df.shape

(8766, 22)

In [7]:
df2.shape

(10395, 22)

In [10]:
df.head()

,SL.No,Region,Circle,Division,Zone,Sub station,Feeder,Dtr,Dtr code,Feeder code,...,Mf,Source,Meterct,Meterpt,Dtr type,Dtr rating,Installation date,Latitude,Longitude,Entered by
0,1,Jabalpur,Narsinghpur,Gadarwara,Gadarawara-(T),Gadarwara,11KV GADARWARA-(T)-2,PRATIBHA COLONY,6546-21,6546,...,40,Alfanar,1,1,NaN,NaN,5/15/2025 7:07:18 PM,22.907711,78.791106,NaN
1,2,Jabalpur,Narsinghpur,Gadarwara,Gadarawara-(T),Gadarwara,11KV GADARWARA-(T)-1,Yasoda Nagar-IV,6547-197,6547,...,100,Alfanar,1,1,NaN,NaN,5/23/2025 3:08:19 PM,22.911468,78.788172,NaN
2,3,Jabalpur,Narsinghpur,Gadarwara,Gadarawara-(T),Gadarwara,11KV GADARWARA-(T)-2,REST HOUSE,6546-187,6546,...,40,Alfanar,1,1,NaN,NaN,5/22/2025 12:41:47 PM,22.902331,78.791548,NaN
3,4,Jabalpur,Narsinghpur,Gadarwara,Gadarawara-(T),Gadarwara,11KV GADARWARA,Prashant Niliyam -IV,6544-38,6544,...,100,Alfanar,1,1,NaN,NaN,5/24/2025 4:29:44 PM,22.909371,78.776880,NaN
4,5,Jabalpur,Narsinghpur,Gadarwara,Gadarawara-(T),Gadarwara,11KV GADARWARA-(T)-2,KAKI WALA MATA WARD STATION,6546-195,6546,...,40,Alfanar,1,1,NaN,NaN,5/22/2025 5:15:20 PM,22.901514,78.792944,NaN